<main>
    <section>
        {{#each content}}
        <form class="productCard" id={{id}} method="post" action="/api/carts/{{cid}}/product/{{id}}?quantity=1">
            <div class=" cardTitle">{{title}}</div>

            <div class="cardBody">
                <span>Description :{{description}}</span>
                <span>Price :{{price}}</span>
                <span>Image :{{thumbnail}}</span>
                <span>Code :{{code}}</span>
                <span>Stock :{{stock}}</span>
            </div>
            <button type="submit">Add to Cart</button>
        </form>
        {{/each}}
    </section>
</main>