<section style="display: flex; flex-direction: column;">
    <h2>User Profile</h2>
    <article style="display: flex; flex-direction: column;">
        <span>Nombre de usuario:{{user.email}}</span>
        <span>Rol: {{user.role}}</span>
        <span>Nombre: {{user.name}}</span>
        <span>Apellido: {{user.lastName}}</span>
        <span>Edad: {{user.age}}</span>
        <span>Fecha de registro:{{user.createdAt}}</span>
    </article>
</section>